body {
  background: linear-gradient("red", "blue");
}

.imgCarrusel{
  width: 100%;
  height: 300px ;
}
h2 {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 4rem;
}
.brillo{
    filter: brightness(150%);
}

h5::first-letter{
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 2rem;
}
.imgLogo {
  width: 3rem;
  border-radius: 50%;
  animation: gira 4s infinite;
  transition: all 1s ease;
  background: rgba(33, 36, 31, 0.541);
}
span {
  color: #f55dc7bb;
  font-weight: bolder;
  font-family: italic;
}
@keyframes gira {
  0% {
    transform: rotateY(0deg);
  }

  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.navbar-nav {
  background: #dee;
  padding-left: 20px;
}
.banner {
  width:100%;
  height: 100vh;
  background: url("../assets/img/logoBlack.png");
  display: flex;
  justify-content: center;
  align-items: end;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.contactanos { 
  margin-bottom: 10px; 
}
.btn-primary {
  background: #e49827;
  transition: all 1s ease;
}
.btn-primary:hover {
  background: forestgreen;
}

.sobre-nosotros {
  background: #f2f2f2;
}
.sobre-nosotros p {
  color: #000;
  font-weight: 400;
}
.servicios {
  padding-top: 30px;
  /* background: linear-gradient(
    45deg,
    rgba(48, 207, 167, 0.541),
    rgba(136, 48, 207, 0.541)
  ); */
  border-radius: 20px;
}
.card {
  width: 100%;
  text-align: center;
  border: none;
  background: #f597f0d5;
}

.contacto {
  background-image: linear-gradient(
      rgba(136, 48, 207, 0.541),
      rgba(100, 0, 0, 0.37)
    ),
    url("../assets/img/footer.jpeg");
  background-size: 100% 100%;
  background-position: top;
}
.contacto h5,
p {
  color: #fff;
}
.contacto i {
  font-size: 2rem;
  color: #4cf0b9;
}
hr {
  color: #fff;
}
.footer span {
  color: goldenrod;
  font-weight: bold;
}
.whatsap {
  font-size: 2.5rem;
  position: fixed;
  bottom: 80px;
  left: 90%;
}
@media screen and (min-width: 576px) {
  .banner {
    height: 25rem;
  }
  .imgCarrusel{
    width: 100%;
    height: 600px ;
  }
  .banner h2 {
    font-size: 2.5rem;
  }
  .banner p {
    font-size: 1.6rem;
  }
  .datos-user {
    display: flex;
    justify-content: space-around;
  }
  .btn-primary {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 767px) {
  .relative {
    left: 30%;
  }
  .banner {
    height: calc(100vh - 50px);
  }
  .contenido p {
    padding: 300px;
    font-size: 1.5rem;
  }
  .cards {
    max-width: 70rem;
  }
  .card {
    max-width: 20rem;
  }
  .card img {
    width: 100%;
    height: 20rem;
  }
}
@media screen and (min-width: 768px) {
  .relative {
    left: 48%;
  }
  .sobre-nosotros {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .imgLogo {
    width: 5rem;
  }
  .navbar-nav {
    background: none;
  }
  .nav-link {
    font-size: 1.4rem;
    font-weight: 600;
  }
  .whatsap {
    font-size: 4rem;
  }
}
